  <h1 style="font-size:40px">Seja bem vindo á sua pagina de estudos! </h1>
<hr>
 <div class="hero">
 <div class="hero-text">
<hr>
  <H3 style="font-size:25px"> O sucesso nos estudos começa com um bom ambiente! </h3>
<hr>
  <br>
  <p style="font-size:20px">Ambiente para você estudante conseguir se organizar na hora de estudar para seus exames. Aqui você pode criar um usuario e cadastrar seus itens de estudos, facilitando assim a rotina de estudos.Após a conclusão de estudo o item pode ser deletado... <p> 
<hr>
 </div>
  </div>
  <hr>
 <%=  link_to 'Cadastrar Usuários', users_path %>
  <%= link_to 'Cadastrar Itens', items_path %>
  <H3 style="font-size:30px"> Aproveite! </h3>
          